body{
    background-color: #F5C3C2;
  }
  #detail .body{
    background-color: #F5C3C2;
  }
  #detail .cont{
    background-image: url(../img/white.png);
    text-align: center;
  }
  #detail .god{
  width: 50%;
  text-align: center;
}
#detail .oda{
    margin-left: 30%;
    margin-right: 30%;
  }
  #story{
    width: 70%;
  }