@charset "utf-8";
body {
    background-color:#FDE5E3;
}
#post .txt{
    width: 80%;
    padding: 3%;
    margin-top: 3%;;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 50px;
}
#post #story{
    font-size: 30px;
}
#post .txt2{
    width: 70%;
    margin-top: 3%;;
    margin-left: 14%;
}

#post .botton{
margin-left: 10%;
}
#post .botton2{
    margin-left: 14%;
}
#post .one{
    padding-left: 34%;
    margin-top: 2%;
}
#post .two{
    padding-left: 34%;
    margin-top: 2%;
}
#post .up{
    background-color: white;
    border: 1px solid black;
    width: 10%;
    padding: 2%;
    margin-right: 20%;
}
#post .can{
    background-color: white;
    border: 1px solid black;
    width: 14%;
    padding: 2%;
}

#post .reset{
    background-color: white;
    border: 1px solid black;
}
#post input[type="text"]{
    text-align: center;
    font-size: xx-large;
}
