/* トグルボタンのCSS */
.switch_label {
    position: relative;
  }
  
  input[type='checkbox'] {
    position: absolute;
    width: 0;
    height: 0;
  }

  .base {
    width: 56px;
    border-radius: 16px;
    height: 32px;
    background-color: #ddd;
  }

  .title {
    margin-left: 4px;
  }

  input:checked ~ .base {
    background-color: rgb(219, 234, 254);
  }

  .circle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: white;
  }

  .switch {
    position: relative;
  }

  input:checked ~ .circle {
    transform: translateX(100%);
    background-color: blue;
  }
/* コンテンツ幅 */
  .content {
    max-width: 80%;
    margin: 0 auto;
    /* background-color:#fafafa; */
  }
/* aタグ処理 */
  a:hover{
    color:#a9cce6;
  }

   /* テーブル位置調整 */
   table {
    border-collapse:  collapse; 
}
 
th {
    width:  300px;              
    height: 80px;               
}
td {
    text-align:  center;        
     width:  300px;              
    height: 50px;  
}
/* トグルボタンの位置調整 */
span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

  /* テーブルタグ */
  table{
    border-collapse:separate;
    border-spacing: 5px;
    width: 100%;
  }
  
  table th,table td{
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
  }
  
  /* table th{
    background-color: #c79852;
    color: white;
    border:solid 1px #927141;
  } */
  
  table td{
    border:solid 1px #af9d85;
  }

 