@charset "utf-8";
body{
    background-color: #FDE5E3;
}
#upform .textbox{
    width: 80%;
    padding: 3%;
    margin-top: 3%;;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 32px;
}
#upform #story{
 font-size: 32px;
}
#upform .input[type="text"]{
    font-size:xx-large;
    text-align: center;
}
#upform .area{
    width: 70%;
    margin-top: 3%;;
    margin-left: 14%;
}
#upform .reset{
    background-color: white;
    border: 1px solid black;
}
#upform .two{
    padding-left: 34%;
    margin-top: 2%;
}
#upform .up{
    background-color: white;
    border: 1px solid black;
    width: 10%;
    padding: 2%;
    margin-right: 20%;
}
#upform .can{
    background-color: white;
    border: 1px solid black;
    width: 14%;
    padding: 2%;
}